
 * {
    margin: 0;
    padding: 0;
    }

body {
    background-color: #ffeed4;
    }

a {
    text-decoration: none;
    /* color: #264653; */
    color: inherit;
    }

a:link {
    color: #000;
    }

a:hover {
    color: #00AA86;
    }

.sidebar {
    /* display: block;
    position: absolute;
    right: 0;
    height: auto;
    width: 25%;
    margin-right: 33px;
    margin-top: 33px;
    text-align: right; */

    display: block;
    position: fixed;
    right: 0;
    height: auto;
    width: 25%;
    margin-right: 33px;
    margin-top: 33px;
    text-align: right;
    }

.sidebar-item {
    list-style-type: none;
    color: #000;
    margin-top: 5px;
    font-size: 37px;
    font-family: 'Fredoka', sans-serif;
    }

h1 {
    font-family: 'Fredoka', sans-serif;
    font-size: 28pt;
    margin-left: 165px;
    display: inline;
    color: #00AA86;
    }

/* .headers{
    font-family: 'Fredoka', sans-serif;
    font-size: 28pt;
    height: 50px;
    margin-top: 50px;
    } */

/* h1 {
    font-size: 120px;
    font-family: Fredoka;
    word-spacing: 100vw;
    margin-left: 33px;
    color: black;
} */

h2 {
    list-style-type: none;
    font-size: 50px;
    font-family: Fredoka;
    text-align: center;
    }

h3 {
    font-size: 120px;
    font-family: Fredoka;
    margin-left: 33px;
    color: #FF0006;
    }

 p {
    font-family: 'Fredoka', sans-serif;
    font-size: 20pt;
    margin-left: 165px;
    margin-right: 550px;
    }

.subheading {
    text-align: center;
    font-family: Fredoka;
    font-size: 30px;
    color: #00AA86;
    }

.icons {
    text-align: center;
    margin-bottom: 30px;
    }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 300px;
    }

.imgmap {
    display: block;
    max-width: 1000px;
    max-height: 550px;
    margin-bottom: 50px;
    }